services:

  postgres:
    image: postgres:17.4
    container_name: postgresDB
    environment:
      POSTGRES_DB: smartqueueDB
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      PGDATA: /var/lib/postgresql/data
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  postgres: